@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body {
  background: linear-gradient(45deg, yellow, red
  );
  margin: 0;
}

div {
  text-align: center;
}

#welcome-container {
  justify-content: center;
  align-items: center;
  /* background-color: goldenrod; */
  height: 100vh;
}

.centered-welcome {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-screen {
  z-index: 1;
  padding-top: 25%;
  
}

#start {
  border-radius: 3px;
  font-size: 1em;
  padding: .5em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-weight: bold;
  background-color: rgb(112, 112, 112);
}

#start:hover {
  background-color: green;
  color: black
}

#treasure-map-blank {
  width: 90vh;
  margin-top: 50px;
  z-index: 0;
}

#game-title {
  font-family: 'Pirata One', cursive;
  font-size: 3rem;
  letter-spacing: .1em;
}

#game-intro {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  font-weight: bold;
  justify-content: center;
}